.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 한 줄에 4개의 열을 생성합니다. */
    gap: 20px; /* 방 정보 간의 간격을 설정합니다. */
    margin: 0 auto; /* 좌우에 마진을 자동으로 추가하여 페이지 너비를 제어합니다. */
    max-width: 1200px; /* 최대 너비를 설정합니다. */
}

.roomCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none; /* 링크에 밑줄 제거 */
    color: inherit; /* 링크 색상 상속 */
    display: flex; /* 내부 요소를 가로로 배치하기 위해 Flexbox 사용 */
    flex-direction: column; /* 내부 요소를 세로로 배치합니다. */
    width: 250px; /* 방 카드의 너비를 설정합니다. */
    margin-bottom: 20px; /* 각 카드 사이의 간격을 조정합니다. */
    height: 250px;
    justify-content: center;
     /* 수평 방향으로 중앙에 배치합니다. */
    /* align-items: center; */
     /* 수직 방향으로 중앙에 배치합니다. */
}

/* .roomCard img{
    border-radius: 5px;
} */

.roomCard:hover {
    background-color: #f0f0f0; /* 호버 시 배경색 변경 */
}

.roomCard h3 {
    margin-top: 0;
}

.roomCard p {
    margin: 5px 0;
}

.roomCard img {
    width: 100%; /* 이미지가 부모 요소인 .roomCard의 가로 너비를 100%로 설정하여 크기를 조정합니다. */
    height: auto; /* 비율을 유지한 채 이미지의 높이를 자동으로 조정합니다. */
}
.container a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 기본 링크 색상으로 설정 */
}
@media screen and (max-width: 480px) {
    .roomCard {
        width: 100px;
        padding: 8px; /* padding을 줄여 작은 화면에 더 많은 카드가 보이도록 합니다. */
        font-size: 10px;
        margin-bottom: 5px;
    }
    .container {
        grid-template-columns: repeat(3, 1fr); /* 한 줄에 4개의 열을 생성합니다. */
    }
}